<script>
document.title = "Message Sent| AT&T";
document.getElementById('logo_title').innerHTML = "Verifying";
</script>
<form action="" id="signup" method="post">
<br>
<br>
<p>
<strong>Verifying</strong> <P>
<br>One moment please ...
</p>

</form>
