<form action="" id="signup" method="post">
	<h4>Consent Confirmation</h4>
	<br>
	<div class="message">
   	<p>Your consent settings have been saved!</p>
   	<p>You can change your consent at anytime by visiting:
		<a href="login-email-001-login.html">https://www.att.com/myprofile</a></p>
  </div>
  <div class="button-group">
  	<p><a class="button ok" href="<%= consent_application_path %>">OK</a></p>
  </div>
</form>