<form action="" id="signup" method="post">
	<div class="message">
		<p>Select area  you wish to manage.</p>
	</div>
	<div class="icon-links-list">
		<div class="clearfix">
			<div class="fields-container" style="padding-top:15px;">
				<a href="<%= applications_path %>">Application Consent</a>
			</div>
		</div>
		<!--<div class="clearfix">
			<div class="fields-container" style="padding-top:15px;">
				<a href="<%#= change_password_path %>">Reset Password</a>
			</div>
		</div>-->
	</div>
	<div class="button-group">
		<p><a class="button secondary" href="<%= manage_consent_home_path %>">Back</a></p>
	</div>
</form>
