 <% form_for :reset,:url=>{:controller=>"manage_profiles",:action=>"reset_create"},:html => {:id => "reset_password" } do|f| %>
	<div class="message">
		<h3>Change Password</h3>
		<p>Create your new personal password for your account.</p>
	</div>
	<!--begin create password-->
	<div class="clearfix">
		<div class="fields-container">
			<label for="password">Enter Current Password</label>
			<div class="input-c">
				<%= f.password_field :current_password, :style => "width:258px;" %>
			</div>
		</div>
	</div>
	<div class="clearfix">
			<div class="fields-container">
			<label for="password">Enter New Password</label>
			<div class="input-c">
				<%= f.password_field :password, :style => "width:258px;" %>
			</div>
		</div>
	</div>
	<div class="clearfix">
		<div class="fields-container">
			<label for="password_confirm">Confirm New Password</label>
			<div class="input-c">
				<%= f.password_field :confirm_password, :style => "width:258px;" %>
			</div>
		</div>
	</div>
	<p style="text-align:center; margin-left:50px;color:red;"><%= flash[:error] %></p>
	<div class="button-group">
		<p>
			<a class="button ok" href="javascript:submit_change_password_consent();">Save</a>
		</p>
	</div>
<% end %>
