<form action="" id="signup" method="post">
	<br>
  <hr>
	<br>
  <h4>Reset Password Confirmation</h4>
 	<p>Your Password has been changed as requested.</p>
  <br>
  <div class="button-group">
		<p>
    	<a class="button ok" href="<%= login_path %>">Ok</a>
    </p>
	</div>
</form>