<form action="" id="signup" method="post">
	<h4>Account Activated</h4>
	<br>
	<div class="message">
   	<p>Thank You!
		<br>Your account has been activated.</p>
   </div>
   <div class="button-group">
   	<p><a class="button ok" href="<%= @redirect_url %>">OK</a></p>
   </div>
</form>