<% form_for :signup,:url=>{:controller=>"manage_profiles",:action=>"signup_create"},:html => {:id => "registration" } do|f| %>
    <div class="message error">
        <p>Your password did not match. Please re-enter.</p>
    </div>
    <div>
        <label for="email">Email Address</label>
        <div class="input-c"><%= f.text_field:email %></div>
    </div>
    <div>
        <label for="password1" class="error">Password</label>
        <div class="input-c"><%= f.password_field:password %></div>
    </div>
    <div>
        <label for="password2" class="error">Re-enter Password</label>
        <div class="input-c"><%= f.password_field:confirm_password %></div>
    </div>
    <div>
        <p>I accept the <a href="#">Terms</a> &amp; <a href="#">Privacy Policy</a>.</p>
    </div>
    <div class="button-group">
        <p><a class="button ok" href="javascript:submit_registration();">OK</a>
        <a class="button cancel" href="<%= login_path %>">Cancel</a></p>
    </div>
<% end %>